{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie 9"
          ],
          "uglify": true
        },
        "debug": true,
        "useBuiltIns": true,
        "modules": false,
        "loose": true
      }
    ]
  ]
}