$baseColor: #1f2f3d;
$fontColor: lighten($baseColor, 10%);
$borderColor: lighten($baseColor, 75%);
$headerColor: lighten($baseColor, 30%);
$arrowColor: lighten($baseColor, 60%);
$arrowColorHover: saturate(lighten($baseColor, 30%), 100%);

.table__sort {
  font: 14px/42px 'Microsoft YaHei';
  width: 100%;
  border: 0;
  letter-spacing: 0;
  border-collapse: collapse;
  thead {
    color: $headerColor;
    th {
      font-weight: bold;
      text-align: left;
      padding: 0 8px;
      border-bottom: 1px solid $borderColor;
      .cell {
        user-select: none;
        span {
          display: inline-block;
          width: 10px;
          overflow: hidden;
          vertical-align: middle;
          margin-left: 8px;
          i {
            width: 0;
            height: 0;
            border: 5px solid;
            border-color: transparent;
            display: block;
            float: left;
            &.live {
              &:first-child {
                border-bottom-color: $arrowColorHover;
                margin-bottom: 2px;
              }

              &:last-child {
                border-top-color: $arrowColorHover;
              }
            }
            &:first-child {
              border-bottom-color: $arrowColor;
              margin-bottom: 2px;
            }
            &:last-child {
              border-top-color: $arrowColor;
            }
          }
        }
      }
    }
  }
  tbody {
    color: $fontColor;
    tr {
      td {
        padding: 0 8px;
        border-bottom: 1px solid $borderColor;
      }
      &:hover td {
        background-color: $borderColor
      }
    }
    
  }
}